<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PruebaManager.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9177F2141C1B21AA00C711CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9177F2281C1B21AB00C711CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9177F2331C1B21AB00C711CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
